<!--Main Navigation-->
<header class="intro-header">
	<!--Intro Section-->
	<section class="view intro-2">
		<div class="full-bg-img mask rgba-gradient">
			<div class="container">
				<div class="d-flex align-items-center content-height w-100">
					<div class="row flex-center pt-5 mt-3 w-100">
						<div class="col-md-6 text-center text-md-left mb-5">
							<div class="black-text">
								<h2
									class="h1 h1-responsive font-bold wow fadeInLeft"
									data-wow-delay="0.3s"
								>
									FUBER, GET THERE...
								</h2>
								<hr class="hr-dark wow fadeInLeft" data-wow-delay="0.3s" />
								<h6 class="wow fadeInLeft" data-wow-delay="0.3s"></h6>
							</div>
						</div>
						<a
							mdbBtn
							color="black"
							data-wow-delay="0.3s"
							mdbWavesEffect
							routerLink="/requestRide"
							>Request a ride</a
						>
						<div class="col-md-6 col-xl-5 offset-xl-1"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>
<!--Main Navigation-->
